<div class="form-container-lists" id="{{list.id}}">
<h1>{{list.listName}}</h1>
  <p>Hey {{user.username}}, these are the tools you have favourited.</p>
  <a href="/lists/{{list.id}}/add" id="edit-tool-btn">Add more tools to {{list.listName}}</a>
  <div class="cards-wrapped-container">
    {{#each favs}}
      {{>favCard this}}
    {{/each}}
  </div>
</div>
