<div class="card-small-container-wrap">
  <div class="card-small-container" id="{{tool.id}}">
    <div class="card-small-field-container">
      <p class="card-small-field {{tool.field}}-card">{{tool.field}}</p>
    </div>
    <div class="card-small-img-container">
      <span class="card-small-img-span">
      <img src="{{tool.imageFile}}" alt="{{tool.name}}" id="small-container-img">
      </span>
    </div>
    <div class="card-small-content-container">
      <div class="card-small-content-textbox-container">
        <a href="/tools/{{_id}}" class="card-small-tool-anchor">
          <div class="card-small-content-header-container">
            <h3 class="card-small-header-title"> {{tool.name}}
              <div class="card-small-vote-container">
              </div></h3>
            <div class="card-small-header-favs-container">
                  <span class="fav-count"><p><i class='bx bx-bookmark-heart' ></i></p></i>{{favCount}}</span>
            </div>
          </div>
          <p>Uploaded by: {{user.username}}</p>
          <img src={{user.image}} class='bx bx-cog nav__icon' alt="avatar" style="width: 35px; border-radius: 20px;"> 
          <p class="card-small-content-description">
            {{tool.description}}
          </p>
        </a>
        <div class="card-small-tags-container">
               {{#each tool.tag}}
                <p>{{tool.tag}}</p>
             {{/each}}
        </div>
      </div>
      <div class="card-small-linkandfav-container">
        <div class="card-small-link-container">
          <a href="{{tool.url}}" class="card-small-link-btn"><i class='bx bx-link-external' ></i></a>
        </div>
        <div class="card-small-fav-container">
          <a href="/lists/{{_id}}/fav" class="card-small-fav-btn"id="none-tool-btn" ><i class='bx bx-bookmark-heart'></i></a>
        </div>
      </div>
    </div>
  </div>
</div>



