<div class="card-container" id="{{_id}}">
  <div class="tool-image">
    <img width="350px" src={{image}} alt={{name}}/>
  </div>
  <div class="tool-header">
    <div class="tool-header-content">
      <h4 class="tool-name">{{listName}}</h4>
    </div>
  </div>
  <div class="tool-description-box">
    <p>{{description}}</p> 
    <div class="tool-link">
      <a class="submit-btn-small" href="/lists/{{_id}}">Check Favs</a>
    </div>
  </div> 
</div>