<li class="waves-effect">
  <div class="valign-wrapper">
    <i class='bx bx-folder nav__icon'></i>
    <a href="/lists/{{_id}}">
      <h3>{{listName}}</h3>
    </a>
  </div>
  <div class="valign-wrapper-row">
    <div class="title" id="{{_id}}">
      <span>Jan 9, 2017</span>
    </div>
    <div class="card-small-link-container-list">
      <a href="/lists/{{_id}}/edit" class="submit-btn-small-card">Edit</a>
    </div>
    <div class="card-small-link-container-list">
      <a href="/lists/{{_id}}/delete" class="submit-btn-small-card">Delete</a>
    </div>
  </div>
  </div>
  </div>
</li>


