
<div class="random-card" id="{{_id}}">
  <div class="random-img">
    <img width="50px" src="{{imageFile}}" alt={{name}}/>
  </div>
  <div class="random-textBox">
    <div class="random-textContent">
      <a href="{{url}}"></a><p class="random-h1">{{name}}<i class='bx bx-link-external'></i></a></p>
      <a class="random-span"href="/tools/{{_id}}"><i class='bx bx-info-circle'></i></a>
    </div>
  <div>
</div>
</div>
</div>
