<div class="random-card" id="{{_id}}">
  <div class="random-img">
    <img width="50px" src={{image}} alt={{name}}/>
  </div>
  <div class="random-textBox">
    <div class="random-textContent">
      <p class="random-h1">{{name}}</p>
      <span class="random-span">{{description}}</span>
    </div>
    <p class="random-p">Xhattmahs is not attacking your base!</p>
  <div>
</div>
</div>
</div>
