<div class="card-container" id="{{_id}}">
  <div class="tool-image">
    <img width="350px" src={{image}} alt={{name}}/>
  </div>
  <h4 class="tool-name">{{name}}</h4>
    <a href="/tools/{{_id}}">View details</a>
  </div> 
</div>
