
<div class="card-container" id="{{_id}}">
  <div class="tool-image">
    <img width="350px" src={{image}} alt={{name}}/>
  </div>
  <h4 class="tool-name">{{name}}</h4>
  <div class="tool-description-box">
    <p>{{description}}</p>
    <p>Link to their page: {{url}}.</p>
    {{!-- <p>Uploaded by: {{user.username}} </p> --}}
    <a href="/tools/{{_id}}">See details</a>
  </div>
</div>
