<div class="card-container" id="{{_id}}">
  <div class="tool-image">
    <img width="350px" src={{imageFile}} alt={{name}}/>
  </div>
  <div class="tool-header">
    <div class="tool-header-content">
      <h4 class="tool-name">{{name}}</h4>
    </div>
    <div class="tool-header-content">
      <a href="/lists/{{_id}}/fav" class="nav__link active-link" id="none-tool-btn"><i class='bx bx-bookmark-heart nav__icon'></i></a>
      </a>
    </div>    
  </div>
  <div class="tool-description-box">
    <p>{{description}}</p>
    <p>Uploaded by: {{user.username}} </p>
    
    <div class="tool-link">
      <a class="submit-btn-small" href={{url}}>Check Website</a>
    </div>
    <div class="tool-link">
      <a class="submit-btn-small" href="/tools/{{_id}}">View details</a>
    </div>
  </div> 
</div>
