<div class="card-container" id="{{_id}}">
  <div class="tool-image">
    <img width="350px" src={{image}} alt={{name}}/>
  </div>
  <h4 class="tool-name">{{name}}</h4>
  <div class="tool-description-box">
    <p>{{description}}</p>
    <p>Uploaded by: {{user.username}} </p>
    <div class="tool-link">
      <a class="submit-btn-small" href={{url}}>Check Website</a>
    </div>
    <a href="/tools/{{_id}}">View details</a>
  </div> 
</div>
