<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>deVault</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/Images/favicon-32x32.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  <div><button class="btn-toggle"><i class='bx bx-moon' ></i></button></div>
  <nav id="nav-menu">
    <div class="nav-logo">
      <a href="/"><img height="40px" src="/Images/minilogo.png" alt="devault-logo" /></a>
    </div>
    <ul class="nav__list">
      {{#if user}}
      <li class="nav__item">
        <a href="/" class="nav__link active-link">
          <i class='bx bx-home-alt-2 nav__icon' id="homebtn"></i>
          <span class="nav__name">{{!-- Home --}}</span>
        </a>
      </li>
        <li class="nav__item">
        <a href="/tools/discover" class="nav__link active-link">
          <i class='bx bx-compass nav__icon' id="discoverbtn"></i>
          <span class="nav__name">Discover</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="/tools/new" class="nav__link active-link">
          <i class='bx bxs-plus-circle nav__icon_plus' id="addbtn"></i>
          <span class="nav__name">Submit</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="/lists" class="nav__link active-link">
          <i class='bx bx-library nav__icon' id="librarybtn"></i> 
          <span class="nav__name">Library</span> 
        </a>
      </li>
       <li class="nav__item">
        <a href="/profile" class="nav__link_log active-link">
          <img src={{user.image}} class='bx bx-cog nav__icon' id="profilebtn" alt="avatar" style="width: 25px; border-radius: 20px; height: 25px"> 
          <span class="nav__name">Profile</span>
        </a>
        <a href="/profile" class="nav__link_go active-link">
          <img src={{user.image}} id="profilebtn" alt="avatar" style="width: 25px; border-radius: 20px; height: 25px"> 
          <span class="nav__name" id="user_logged">{{user.username}}</span>
        </a>
      </li>
     {{else}}    
      <li class="nav__item">
        <a href="/" class="nav__link active-link">
          <i class='bx bx-home-alt-2 nav__icon' id="homebtn"></i>
          <span class="nav__name">{{!-- Home --}}</span>
        </a>
      </li>
        <li class="nav__item">
        <a href="/tools/discover" class="nav__link active-link">
          <i class='bx bx-compass nav__icon' id="discoverbtn"></i>
          <span class="nav__name">Discover</span> 
        </a>
      </li>
      <li class="nav__item">
        <a href="/tools/new" class="nav__link active-link">
          <i class='bx bxs-plus-circle nav__icon' id="addbtn"></i>
          <span class="nav__name">Submit</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="/lists" class="nav__link active-link">
          <i class='bx bx-library nav__icon' id="librarybtn"></i> 
          <span class="nav__name">Library</span>
        </a>
      </li>
      <li class="nav__item">
        <a href="/auth/login" class="nav__link_log active-link">
          <i class='bx bx-log-in-circle nav__icon'id="loginbtn" ></i>
          <span class="nav__name">Login</span>
        </a> 
        <a href="/auth/google" class="nav__link_go active-link">
          <img width="20px" height="20px" src="https://avelhafabrica.es/wp-content/uploads/2019/01/new-google-favicon-512.png">
          <span class="nav__name" style="font-size: 15px">Login</span>
        </a>
      </li> 
      {{/if}}
    </ul>
  </nav>
    {{{ body }}}
    <script src="/javascript/dom.js">
    </script> 
    <script>
    !function(e,n,t,r){function o(){try{var e;if((e="string"==typeof this.response?JSON.parse(this.response):this.response).url){var t=n.getElementsByTagName("script")[0],r=n.createElement("script");r.async=!0,r.src=e.url,t.parentNode.insertBefore(r,t)}}catch(e){}}var s,p,a,i=[],c=[];e[t]={init:function(){s=arguments;var e={then:function(n){return c.push({type:"t",next:n}),e},catch:function(n){return c.push({type:"c",next:n}),e}};return e},on:function(){i.push(arguments)},render:function(){p=arguments},destroy:function(){a=arguments}},e.__onWebMessengerHostReady__=function(n){if(delete e.__onWebMessengerHostReady__,e[t]=n,s)for(var r=n.init.apply(n,s),o=0;o<c.length;o++){var u=c[o];r="t"===u.type?r.then(u.next):r.catch(u.next)}p&&n.render.apply(n,p),a&&n.destroy.apply(n,a);for(o=0;o<i.length;o++)n.on.apply(n,i[o])};var u=new XMLHttpRequest;u.addEventListener("load",o),u.open("GET","https://gmh.reviewpro.com/loader.json",!0),u.responseType="json",u.send()}(window,document,"ReviewPro");
  </script>
  <script>
    ReviewPro
      .init({
        appId: '63ee32b3847dd0011aaa0fba',
      })
      .then(function() {
        ReviewPro.on("widget:opened", function() {
          ReviewPro.startConversation();
          ReviewPro.showCurtain(2000);
        });
        ReviewPro.on("message:received", function() {
          ReviewPro.hideCurtain();
        });
      });
  </script>
</body>
</html>

