<nav id="nav-bar" class="scrolled">
  <a href="/"><h2><i class='bx bx-chevron-left back__icon'></i>{{tool.name}}</h2></a>
</nav>
<div class="card-detail-container-wrap">
  <div class="card-detail-container">
    <div class="card-detail-header">
      <div class="card-detail-header-buttons">
        <div class="card-detail-header-buttons-link">
          <a href={{tool.url}}><i class='bx bx-link-external nav__icon-white'></i>Visit Website</a>
        </div>
        <div class="card-detail-header-buttons-link">
          <a href={{tool.url}}><i class='bx bx-bookmark-heart nav__icon-white'></i>Add Fav</a> 
        </div>
      </div>
    </div>
    <h2>Tool information</h2>
    <div class="card-detail-content">
      <div class="card-detail-content-img">
        <a><img width="350px" src={{tool.imageFile}} alt={{tool.name}}/>
        <div></div>
        </a>
      </div>
      <div class="card-detail-content-description">
        <p>{{tool.description}}</p>
        <div class="card-detail-content-edit-delete">
         <span>
          {{#if isLoggedInUserCreator}} 
            <a href="/tools/{{tool._id}}/delete" id="delete-tool-btn">Delete</a>
            <a href="/tools/{{tool._id}}/edit" id="edit-tool-btn">Edit tool</a>
          {{/if}}    
        </span>
      </div>
      </div>
      </div>
      <div class="card-detail-content-description-uploader">
        <p>Uploaded by: <img src={{tool.user.image}} class='bx bx-cog nav__icon' alt="avatar" style="width: 35px; border-radius: 20px;"><strong> {{tool.user.username}}</strong></p>
      </div>  
      
    
      {{#if items}}
    <h2>You might also be interested in:</h2>
     <div class="card-small-container-wrap"> 
{{#each items}}
      {{>randomCard this}}
    {{/each}}
  {{/if}}
    
    
  </div>
</div> 
</div>

