<nav id="nav-bar" class="scrolled">
  <a href="/"><h2><i class='bx bx-chevron-left back__icon'></i>{{tool.name}}</h2></a>
</nav>
<div class="card-detail-container-wrap">
  <div class="card-detail-container">
    <div class="card-detail-header">
      <div class="card-detail-header-buttons">
        <div class="card-detail-header-buttons-link">
          <a href={{tool.url}}><i class='bx bx-link-external nav__icon-white'></i>Visit Website</a>
        </div>
        <div class="card-detail-header-buttons-link">
          <a href="/lists/{{tool._id}}/fav"><i class='bx bx-bookmark-heart nav__icon-white'></i>Add Fav</a> 
        </div>
      </div>
    </div>
    <h2>Tool information</h2>
    <div class="card-detail-content">
      <div class="card-detail-content-img">
        <a><img width="350px" src={{tool.imageFile}} alt={{tool.name}}/>
        <div></div>
        </a>
      </div>
      <div class="card-detail-content-description">
        <p>{{tool.description}}</p>
        {{#if user}}
        <div class="card-detail-content-edit-delete">
          <form class="list" action="/tools/{{tool._id}}/vote" method="POST">
          <fieldset class="rating">
            <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
            <input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
            <input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
            <input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
            <input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
            <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
            <input type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
          </fieldset>
           <button type="submit" class="submit-btn">Rate</button>
        </form>
        {{/if}}
          {{#if reviews}}
          <h2>User Reviews</h2>
            {{#each reviews}}
              <p>{{this.review}} by <img src={{this.user.image}} class='bx bx-cog nav__icon' alt="avatar" style="width: 35px; border-radius: 20px;"><strong> {{this.user.username}}</strong></p>
            {{/each}}
          {{/if}}
          {{#if user}}
        <form method="POST" action="/tools/{{tool._id}}/review">
          <label>How would you rate this tool?</label>
          <input required type="text" placeholder="I really liked this tool" name="review"/>
          <button type="submit">Add review</button>
        </form>
        {{/if}}
         <span>
          {{#if isLoggedInUserCreator}} 
            <a href="/tools/{{tool._id}}/delete" id="delete-tool-btn">Delete</a>
            <a href="/tools/{{tool._id}}/edit" id="edit-tool-btn">Edit tool</a>
          {{/if}}    
        </span>
      </div>
      </div>
      </div>
      <div class="card-detail-content-description-uploader">
        <p>Uploaded by: <img src={{tool.user.image}} class='bx bx-cog nav__icon' alt="avatar" style="width: 35px; border-radius: 20px;"><strong> {{tool.user.username}}</strong></p>
      </div>  
      
    
      {{#if items}}
    <h2>You might also be interested in:</h2>
     <div class="card-small-container-wrap"> 
{{#each items}}
      {{>randomCard this}}
    {{/each}}
  {{/if}}
    
  </div>
</div> 
</div>

