<nav id="nav-bar" class="scrolled">
  <a href="/"><h2><i class='bx bx-chevron-left back__icon'></i>Discover</h2></a>
</nav>

<form action="/tools/finesearch" method="post">
<div class="advanced-search-container">
    <div class="advanced-search-bar-container">
      <input type="text" id="search" name="search" placeholder="Search into the vault">
      <button type="submit" value="Submit"> <i class='bx bx-search'></i></button>
    </div>
    <div class="advanced-search-filterandsort-container">
    <div class="advanced-search-filter-container search-toggle-btn">
      Filter <i class='bx bx-filter-alt' ></i>
    </div>
    <div class="advanced-search-sort-container">
      Sort by rating:  
      <input type="checkbox" name="rating" value="rating">
    </div>
  </div>
</div>
                {{!-- HIDDEN PAGE  --}}
 <div class="advanced-search-main-container">
  <div class="advanced-search-field-container">
    <label>Field:</label>
    {{#each field}}
      <div class="advanced-search-field-option">
        <input type="radio" id="field-{{this}}" name="field" value="{{this}}">
        <label for="field-{{this}}">{{this}}</label>
      </div>
    {{/each}} 
  </div>
  <div class="advanced-search-tag-container">
    <label>Tags:</label>
    {{#each tag}}
        <div class="advanced-search-tag-option checkBox">
           <label for="tag-{{this}}">
          <input type="checkbox" id="tag-{{this}}" name="tag" value="{{this}}">
         {{this}}</label>
        </div>
    {{/each}} 
  </div>
  <div class="advanced-search-time-container">
    <label>Upload:</label>
    <div class="advanced-search-time-option">
      <input type="radio" id="time-today" name="time" value="today">
      <label for="time-today">Today</label>
    </div>
    <div class="advanced-search-time-option">
      <input type="radio" id="time-last-week" name="time" value="last-week">
      <label for="time-last-week">Last week</label>
    </div>
    <div class="advanced-search-time-option">
      <input type="radio" id="time-last-month" name="time" value="last-month">
      <label for="time-last-month">Last month</label>
    </div>
    <div class="advanced-search-time-option">
      <input type="radio" id="time-last-six-months" name="time" value="last-six-months">
      <label for="time-last-six-months">Last six months</label>
    </div>
  </div>
  <div class="advanced-search-applybutton search-toggle-btn">
    Apply filters
  </div>
</div>
</form>

<div class="discover-field-card-grid">
  <a href="tools/search/Back End">
  <div class="discover-field-card ">
    <div class="discover-field-card-content back-end">
      <p>Back End</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Front End">
  <div class="discover-field-card">
    <div class="discover-field-card-content front-end">
      <p>Front End</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Data Science">
  <div class="discover-field-card">
    <div class="discover-field-card-content  data-science">
      <p>Data Science</p>
    </div>
  </div>
  </a>
  <a href="tools/search/UX UI">
  <div class="discover-field-card ">
    <div class="discover-field-card-content ux-ui">
      <p>UX/UI</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Blockchain">
  <div class="discover-field-card ">
    <div class="discover-field-card-content blockchain">
      <p>Block-chain</p>
    </div>
  </div>
  </a>
   <a href="tools/search/Other">
  <div class="discover-field-card productivity">
    <div class="discover-field-card-content">
      <p>Other</p>
    </div>
  </div>
  </a>
    <a href="tools/search/Task Management">
  <div class="discover-field-card task-management">
    <div class="discover-field-card-content">
      <p>Task Management</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Cyber Security">
  <div class="discover-field-card ">
    <div class="discover-field-card-content cyber-security">
      <p>Cyber Security</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Mobile">
  <div class="discover-field-card ">
    <div class="discover-field-card-content mobile-development">
      <p>Mobile</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Cloud Computing">
  <div class="discover-field-card ">
    <div class="discover-field-card-content cloud-computing">
      <p>Cloud Computing</p>
    </div>
  </div>
  </a>
  <a href="tools/search/Machine Learning">
  <div class="discover-field-card ">
    <div class="discover-field-card-content ai-machine-learning">
      <p>AI/Machine Learning</p>
    </div>
  </div>
  </a>
  <a href="tools/search/DevOps">
  <div class="discover-field-card ">
    <div class="discover-field-card-content devops">
      <p>DevOps</p>
    </div>
  </div>
  </a>
</div>