<nav id="nav-bar" class="scrolled">
  <a href="/"><h2><i class='bx bx-chevron-left back__icon'></i>Search Results</h2></a>
</nav>

<form action="/tools/finesearch" method="post">
<div class="advanced-search-container">
    <div class="advanced-search-bar-container">
      <input type="text" id="search" name="search" placeholder="Search into the vault">
      <button type="submit" value="Submit"> <i class='bx bx-search'></i></button>
    </div>
    <div class="advanced-search-filterandsort-container">
    <div class="advanced-search-filter-container" id="search-filter-toggle-btn2">
      Filter <i class='bx bx-filter-alt' ></i>
    </div>
    <div class="advanced-search-sort-container">
      Sort by rating:  
      <input type="checkbox" name="rating" value="rating">
    </div>
  </div>
</div>
                {{!-- HIDDEN PAGE  --}}
 <div class="advanced-search-main-container hidden">
  <div class="advanced-search-field-container">
    <label>Field:</label>
    {{#each field}}
      <div class="advanced-search-field-option">
        <input type="radio" id="field-{{this}}" name="field" value="{{this}}">
        <label for="field-{{this}}">{{this}}</label>
      </div>
    {{/each}} 
  </div>
  <div class="advanced-search-tag-container">
    <label>Tags:</label>
    {{#each tag}}
        <div class="advanced-search-tag-option checkBox">
           <label for="tag-{{this}}">
          <input type="checkbox" id="tag-{{this}}" name="tag" value="{{this}}">
         {{this}}</label>
        </div>
    {{/each}} 
  </div>
  <div class="advanced-search-time-container">
    <label>Upload:</label>
    <div class="advanced-search-time-option">
      <input type="radio" id="time-today" name="time" value="today">
      <label for="time-today">Today</label>
    </div>
    <div class="advanced-search-time-option">
      <input type="radio" id="time-last-week" name="time" value="last-week">
      <label for="time-last-week">Last week</label>
    </div>
    <div class="advanced-search-time-option">
      <input type="radio" id="time-last-month" name="time" value="last-month">
      <label for="time-last-month">Last month</label>
    </div>
    <div class="advanced-search-time-option">
      <input type="radio" id="time-last-six-months" name="time" value="last-six-months">
      <label for="time-last-six-months">Last six months</label>
    </div>
  </div>
  <div class="advanced-search-applybutton" id="search-apply-toggle-btn2">
    Apply filters
  </div>
</div>
</form>

<div class="cards-wrapped-container">
  {{#each tools}}
    {{>toolCard this}}
  {{/each}}
</div>

<script src="/javascript/finesearch.dom.js">
    </script> 