<div class="card-container" id="detail-card">
    <div class="tool-image">
    <img width="350px" src={{tool.image}} alt={{tool.name}}/>
  </div>
    <h1 class="tool-name">{{tool.name}}</h1>
<div class="tool-description-box">
    <p>{{tool.description}}</p>
     <p>Uploaded by: {{tool.user.username}} </p>
  </div>
   <div class="tool-link">
      <a class="submit-btn-small" href={{url}}>Check Website</a>
    </div>
  <span class="btn-span">
    {{#if isLoggedInUserCreator}} 
        <a href="/tools/{{tool._id}}/delete" id="delete-tool-btn">Delete</a>
        <a href="/tools/{{tool._id}}/edit" id="edit-tool-btn">Edit tool</a>
    {{/if}}    
    </span>
</div>

<div class="random-tools-container"> 
     {{#if items}}
    <h1>You might also be interested in:</h1>
    {{#each items}}
    {{>randomCard this}}
    {{/each}}
    {{/if}}
</div>




